.navbar-logo {
    object-fit: contain;
    max-height: 2.5rem !important;
}

.hero {
    height: 100vh;

    &.has-background {
        position: relative;
        overflow: hidden;
    }

    &-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100vw;
        height: 100vh;
    }
}

.footer {
    &-icon-social {
        border: 1px solid #6f737d;
        border-radius: 2px;
        padding: 8px 12px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: orangered;
            color: orangered;
            border: 1px solid orangered;
            transition: ease-in-out 0.2s;
        }
    }
}

.location-maps-image {
    width: 100vw;
    height: 100%;
}

.service-icon {
    height: 50px !important;
    width: 50px !important;
}