// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$black: #000000;
$whitesmoke: whitesmoke;

// Border Radius
$radius-1: 4px;
$radius-2: 8px;

// Letter Spacing
$letter-spacing-1: .75px;
$letter-spacing-2: 1.5px;
$letter-spacing-3: 3px;
